/*
    VARIABLES.CSS

    - updated: 13.03.19
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// GLOBAL VARS (USE PIXELS)
//-----------------------------------------------------------------

$fa-font-path: "/assets/fonts";

$header-top-sm-height: 50px;
$header-top-md-height: 50px;
$header-top-lg-height: 50px;

$header-body-sm-height: 75px;
$header-body-md-height: 75px;
$header-body-lg-height: 75px;
$header-body-xl-height: 75px;
$header-body-xxl-height: 75px;

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================