.hero {
	position: relative;
	padding-top: rem-calc(106);
	padding-bottom: rem-calc(10);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	z-index: 1;
}

.hero.is-home-height {
	height: rem-calc(330);
	&:after {
		display: none;
	}
}

.hero:after {
	content: "";
	position: absolute;
	top: 74px;
	left: 0;
	width: 100%;
	height: calc(100% - 74px);
	background-color: var(--color-primary-dark);
	opacity: .84;
	z-index: -1;
}

.hero-breadcrumb {
	margin-bottom: rem-calc(10);
	color: white;

	a {
		font-size: rem-calc(15);
		font-weight: 800;
		text-transform: uppercase;
		color: rgba(white, 0.6);
	}

	.fa {
		position: relative;
		top: 1px;
		margin-right: rem-calc(1);
		line-height: 0;
		font-size: rem-calc(22);
	}
}

.hero-title {
	font-size: rem-calc(30);
	font-weight: 800;
}

